<div class="card border-light w-100 vh-100 login-cad">
  <div class="card-body d-flex justify-content-center flex-column">
    <h5 class="card-title mt-3 mb-4 p-5 text-center fw-semibold">WELCOME TO BUDGET APP</h5>
    <%= link_to 'Log In', user_session_path, class: "button-71" %> 
    <%= link_to 'Sign Up', new_user_registration_path, class: "button-71" %>
  </div>
</div>
